PORT=8000
NODE_ENV=development
MONGO_URI=
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174

JWT_SECRET=

TWELVE_DATA_API_KEY=
TWELVE_DATA_API_KEY2=

IMAGEKIT_PRIVATE==
IMAGEKIT_PUBLIC_KEY==
IMAGEKIT_URL_ENDPOINT=